<h2>Usuario</h2>
<div class="navlLinks">
	<a [routerLink]="['./perfil']">Perfil</a> |
	<a [routerLink]="['./amigos']">Amigos</a> |
	<a [routerLink]="['./notificaciones']">Notificaciones</a> |
	<a [routerLink]="['./../login']">Salir</a>
</div>
<router-outlet></router-outlet>	