<div class="container">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<span class="anchor" id="formLogin"></span>
			<!-- form card login with validation feedback -->
			<div class="card card-outline-secondary">
				<div class="card-header">
					<h3	class="mb-0">Agregue una tarea</h3>
				</div>
				<div class="card-body">
					<app-form-tarea-agenda (onItemAdded)="agregado($event)"></app-form-tarea-agenda>
				</div>
			</div>
		</div>
	</div>
	<hr	class="mb-5">
	<ul class="d-flex flex-wrap justify-content-center">
		<li *ngFor="let x of tareasApiClient.getAll(); let i=index">
			<app-tarea-agenda
				[tarea]="x"
				[indice]="i+1"
				(darPrioridad)="priorizar($event)"
				(eliminar)="eliminar($event)"
			></app-tarea-agenda>
		</li>
	</ul>
	<ul>
		<h5>Actividad</h5>
		<li *ngFor="let u of updates">{{u}}</li>
	</ul>
</div>